.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    background-color: white;
    text-align: center;
    font-size: small;
}

.w3-ul li:last-child {
    border-bottom: 1px solid #ddd;
}

/* .img-container {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.img-text {
    padding: 10px;
} */