{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Učíme online</title>
        <meta charset="utf-8"> 
        <!-- W3.CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">      
        <!-- Styles -->
        <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
        <!-- Favicon -->
        <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png">
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>

        {% block content %}
            <!-- Put content here -->
            <strong>No external content loaded</strong>
        {% endblock content %}

        {% comment %} <div class="footer">
            <p>Icons by <a href="https://icons8.com">Icons8</a></p>
        </div> {% endcomment %}

    </body>
</html>