{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <h1>Učíme online</h1>
</div>

<div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-hoverable">
        {% for page in object_list %}
        <a href="{{ page.id }}">
            <li class="w3-bar">
                <img src="{{ page.picture1.url }}" class="w3-bar-item w3-circle w3-hide-small" style="width: 80px; height: 64px; object-fit:cover;">
                <div class="w3-bar-item">
                    <span class="w3-large">{{ page.name }}</span><br>
                    <span>{{ page.description }}</span>
                </div>
            </li>
        </a>    
        {% endfor %}
    </ul>
</div>

{% endblock %}
